<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Fishing</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/modal.js' %}"></script>
</head>
<body>
    <header class="site-header">
        <div class="container">
            <h1 class="site-title">Wiki Fishing</h1>
            <p class="site-description">Ваш гид в мире рыбалки. Узнайте всё о рыбах и приманках, чтобы сделать вашу рыбалку успешной!</p>
            <img src="{% static 'images/fisher.png' %}" alt="Fisher the Cat" class="header-image">
        </div>
    </header>

    <main class="site-content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        <div class="container">
            <p class="footer-text">Сайт сделан Кашапым Даниром при поддержке DeepSeek и Le Chat.</p>
        </div>
    </footer>
</body>

</html>
